---
import Layout from "../layouts/Layout.astro";
import Navigation from "../components/astro/Navigation.astro";
import Footer from "../components/astro/Footer.astro";
import GoogleLogin from "../components/react/loginGoogle";
import { useTranslations } from "../i18n";
import { loginT } from "../i18n/pages/login";

const t = useTranslations(loginT);
---

<Layout
  lang="es"
  title={t('es', 'meta.title')}
  description={t('es', 'meta.description')}
>
  <Navigation lang="es" />
  <main>
    <GoogleLogin client:load />
  </main>
  <Footer lang="es" />
</Layout>

<style>
  main {
    padding-top: 80px;
  }
</style>
